h3, p {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

p {
  font-weight: 300;
  letter-spacing: 2px;
}

.author {
  margin: 0;
}

.hypeist-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 16px;
}

.journey-title {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 30px;
}

.journey-image-title {
  font-size: 21px;
  font-weight: 700;
  padding: 12px 0;
}

.journey-image-desc {
  font-size: 16px;
  padding: 0 21px;
}

.design-process-title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 21px;
  font-family: 'Rubik', sans-serif;
  color: #f7f7f7;
}

.design-process-desc {
  font-size: 18px;
  padding: 16px 21px;
  text-align: left;
}

.dark-black {
  background-color: #000 !important;
}

.suppress {
  color: #7e7e7e;
}

a {
  color: #0f7fec;
}

#my-role {
  padding: 0 8em;
  text-align: left;
}

.hypeist-title {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 48px;
}

.line {
  width: 200px;
  margin: 2em auto;
}

.black-line {
  border: 1px solid #000;
}


@media (min-width:320px) and (max-width: 480px) {

  #my-role {
    padding: 2em;
  }

  #my-role h3 {
    font-size: 18px;
  }

}
